html{
  box-sizing: border-box;
}

body{
}

table.pig-chessboard{
    border: 4px solid #32a1ce;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.pig-table-row{
}

.pig-table-cell{
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #858585;
}

.pig-table-cell[colour="black"]{
  background-color: #d7c1a8;
}

.pig-table-cell[colour="white"]{
  background-color: #e6e6e6;
}

.pig-table-cell[selected]{
  background-color: #9999ff;
}

pig-cell-piece{
  width: 80px;
  height: 80px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

pig-cell-piece img{
  width: 60px;
  height: 60px;
}
